
<body>

<h1>Data Customer</h1>

<div class="container">

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-1">Insert Customer</button>
	<div class="modal fade" id="modal-1" tabindex="-1" role="dialog">
    	<div class="modal-dialog">
        		<div class="modal-content">
                		<div class="modal-header">
                        		<button type="button" class="close" data-dismiss="modal">&times</button>
                                <h4 class="modal-title">Customer Registration</h4>
                        
                        </div>
                        <div class="modal-body">
                        
                            <form class="form-horizontal">
                              <fieldset>
                                
                                <div class="form-group">
                                  <label for="inputEmail" class="col-lg-2 control-label">Customer Refference No</label>
                                  <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputId" placeholder="">
                                  </div>
                                </div>
                                
                                 <div class="form-group">
                                  <label for="inputEmail" class="col-lg-2 control-label">Nama Customer</label>
                                  <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Masukkan nama customer">
                                  </div>
                                </div>
                                
                            
                                <div class="form-group">
                                  <label for="textArea" class="col-lg-2 control-label">Alamat</label>
                                  <div class="col-lg-10">
                                    <textarea class="form-control" rows="4" id="textArea"></textarea>
                                   
                                  </div>
                                </div>
                                
                                 <div class="form-group">
      							<label for="inputEmail" class="col-lg-2 control-label">Email</label>
      								<div class="col-lg-10">
        								<input type="email" class="form-control" id="inputEmail" placeholder="Email">
      								</div>
   								 </div>
                                 
                              
                                    <div class="form-group">
                                  <label for="select" class="col-lg-2 control-label">Jenis Perusahaan</label>
                                  <div class="col-lg-10">
                                    <select class="form-control" id="select">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                   
                                  </div>
                                </div>
                              
                                
                                 <div class="form-group">
                                  <label for="inputEmail" class="col-lg-2 control-label">Contact Person</label>
                                  <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputContactperson" placeholder="Masukkan nama contact person">
                                  </div>
                                </div>
                                
                                 <div class="form-group">
                                  <label for="inputEmail" class="col-lg-2 control-label">Telepon Contact Person</label>
                                  <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputTelepon" placeholder="Contoh:081211111111">
                                  </div>
                                </div>
                                
                                 <div class="form-group">
                                  <label for="textArea" class="col-lg-2 control-label">Note</label>
                                  <div class="col-lg-10">
                                    <textarea class="form-control" rows="4" id="textArea"></textarea>
                                   
                                  </div>
                                </div>
                                
                                
                                
                              </fieldset>
                            </form>

                        	
                        </div>
                        
                        <div class="modal-footer">
                        	<a href="#" class="btn btn-default" data-dismiss="modal" style="width:100px;">Close</a>
                            <a href="#" class="btn btn-primary" style="width:100px;">Save</a>

                        </div>
                </div>
        </div>
    
    </div>

</div>
<%= javascript_include_tag :defaults %>
</body>